# Server
SERVER_ADDR=:8080

# Database
DATABASE_URL=postgresql://root:npg_6gsL3xpuVbJo@ep-billowing-boat-a1ntmrmq-pooler.ap-southeast-1.aws.neon.tech/lcdp?sslmode=require&channel_binding=require


# Environment (controls default cookie secure behavior)
ENV=local

# Cookies
COOKIE_NAME=session
COOKIE_DOMAIN=
COOKIE_SAMESITE=Lax

# Session TTL
SESSION_TTL=24h

# 2Factor.in
TWOFACTOR_API_KEY=
